.places {
  margin: 0;
  margin-bottom: 92px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2a2c2f;
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .places{
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  .places{
    margin-bottom: 66px;
  }
}

