.places__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  grid-area: "title";
}

@media screen and (max-width: 1279px) and (min-width: 1024px),
  screen and (max-device-width: 1279px) and (min-device-width: 1024px) {
  .places__title {
    /*max-width: 90.625%;
        padding-left: 4.6875%;*/
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 32px 16px;
  }
}
