.lead__image {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  max-width: 984px;
  align-self: center;
}

@media screen and (max-width: 1279px), screen and (max-device-width: 1279px) {
  .lead__image {
    max-width: 100%;
  }
}
