.footer__list {
  margin: 0 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

@media screen and (max-width: 1279px) and (min-width: 1024px),
  screen and (max-device-width: 1279px) and (min-device-width: 1024px) {
  .footer__list{
    margin: 0 0 48px 24px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .footer__list{
    margin: 0 0 24px 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 50px) {
  .footer__list {
    margin: 0 0 24px 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
